.search-bar {
    width: 70%;
    margin: 20px;
    padding: 20px;
  }

.reception1 {
    display:inline-block;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    padding-top: 10px;
    margin:40px;
    margin-top: 20px;
    min-height: 600px;
}
.ticket {
    display: block;
    background-color:white;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.tab {
    width: 80%;
    margin-top: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
}